html body [class^=user-icon-],
html body [class^=super-tail-],
html body [class^=super-noble-icon-],
html body [class^=super-user-icon-],
html body [class^=vip-icon-],
html body [class^=right-dynamic-pic-],
html body [class^=rightDynamicPicImg-],
html body [class^=headpic-],
html body [class^=vipIcon-],
html body [class^=head-icon-],
html body [class^=tail-],
html body [class^=text-] > img,
html body [class^=super-text-] > img {
    display: none !important;
}

html body [class^=danmuItem-] div {
    background-image: none !important;
}

.highEnergySuperBarrageText {
    color: #ffff00 !important;
    font-size: 24px !important;
}

.barrage-gradient {
    border: none;
}